config.toml
**/.env
**/.env.*
!**/.env.example
!**/.env.*.example
!**/.env.j2
!**/.env.*.j2
data/*
!data/.gitkeep
temp/*
!temp/.gitkeep

# Rust Dev
rustc-ice*
**/target

# Web Dev
/webui
**/dist
**/dist-tsc
**/.vite
**/.vitest
**/node_modules
**/tsconfig.tsbuildinfo
**/*.local.*

# Misc

temp
!temp/.gitkeep
.gitnexus

# Database
**/*.session.sql