on_force_close "quit"
mouse_mode true

keybinds {
    shared_except "locked" {
        unbind "Ctrl q"
        bind "Alt q" { Quit; }
    }

    shared_except "tab" "locked" {
        unbind "Ctrl t"
        bind "Alt t" { SwitchToMode "Tab"; }
    }
}

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }
    tab name="DashboardWeb" {
        pane command="pnpm" {
            args "dev"
            cwd "apps/dashboard-web"
        }
    }
    tab name="ExtensionWeb" {
        pane command="pnpm" {
            args "dev:chrome"
            cwd "apps/extension-web"
        }
    }
    tab name="ApiServer" {
        pane command="watchexec" {
	            args "--watch" "apps/api-server" "--watch" "packages" "--watch" "dev" "--exts" "rs,toml" "--" "cargo" "run" "--manifest-path" "apps/api-server/Cargo.toml" "--" "--config" "dev/amagi.config.local.toml"
        }
    }
    tab name="Deps" {
        pane command="docker" {
            args "compose" "-f" "devdeps.compose.yaml" "up"
        }
    }
}
